<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Press+Start+2P|VT323" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47345505-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47345505-1');
</script>
  <body>
    <div class="container">
        <div class="row container header-holder">
          <header class="col col-12 header">
            <div class="col-12 col-md-9 vcenter">
                <h1>Matthew Gordon</h1>
                <p>Developer. Creative.</p>
            </div>
            <div class="col-12 col-md-3 row vcenter">
              <a class="btn col-12 align-self-end" href="mailto:ratherironic@gmail.com">Let's work together!</a>
            </div>
          </header>  
        </div>

        <div class="panel-holder">
          <div class="panel panel-home">
            <div class="panel-content">
              <div class="row">
                <div class="col-md-4 col-sx-12 flyout" >
                  <h2 class="intro-label">Hi I'm Matt Gordon!<br/>I build websites.</h2>
                  <h2>I'm available!</h2>
                  <p>So if you are hiring freelance or full time:</p>
                  <div class="row">
                    <a class="btn col-md-5 col-10 align-self-end" href="/docs/Matthew Gordon Resume.pdf" target="_blank">Check out my Resume!</a>
                    <a class="btn col-md-5 col-10 align-self-end" href="mailto:ratherironic@gmail.com" target="_blank">Email me!</a>
                  </div>
                </div>
                <!-- <div class="col-md-4 offset-md-4 col-sx-12 flyout flyout-right" >
                  <h2>I'm available!</h2>
                  <p>So if you are hiring freelance or full time:</p>
                  <div class="row">
                    <a class="btn col-md-5 col-12 align-self-end" href="/docs/Matthew Gordon Resume.pdf" target="_blank">Check out my Resume!</a>
                    <a class="btn col-md-5 col-12 align-self-end" href="mailto:ratherironic@gmail.com" target="_blank">Email me!</a>
                  </div>
                   <small>They're all good. This one is mine. Like my own personal showroom where I am the proverbial puppy in the window and you're the young child with a nose pressed up to the window smudging the glass. Only I'm not a puppy. I'm a guy wearing a hoodie that needs to be washed and you're a someone looking to hire a developer/creative and have to read thousands of portfolios.</small>
                </div> -->
                <div class="homepage-art">
                    <img src="images/desk.svg" role="presentation" class="desk" />       
                    <img src="images/chair.svg" role="presentation" class="chair" />      
                </div>         
              </div>
            </div>
          </div>
          
          <!-- <div class="panel panel-skills" id="skills-scene">
            <div class="row panel-content-holder">
              <div class="col-sx-12 skills-header">
                  <div class="col-10">
                    <h1><span>Skills</span></h1>
                  </div>
                  <div class="col-2">
                    <div class="fake-close-button"></div>
                  </div>
              </div>
              <div class="panel-content">
                <div class="skill-listing">
                    <dl class="col skill-section">
                      <div class="col-sx-12 col-md-4">
                        <h1 class="skill-title">Front-End Technology</h1>
                      </div>
                      <div class="col-sx-12 col-md-8">
                        <div class="col-sx-12 col-md-6">
                          <div class="skill-tile row align-items-center percent-100">
                            <dd class="col-12 vcenter">HTML</dd>
                            <dt  class="col-12 vcenter">100%</dt>
                          </div>
                        </div>
                        <div class="col-sx-12 col-md-6">
                          <div class="skill-tile row align-items-center percent-100">
                            <dd class="col-12 vcenter">CSS/SASS</dd>
                            <dt  class="col-12 vcenter" d-value="100">100%</dt>
                          </div>
                        </div>
                        <div class="col-sx-12 col-md-6">
                          <div class="skill-tile row align-items-center percent-90">
                            <dd class="col-12 vcenter">Javascript</dd>
                            <dt  class="col-12 vcenter" d-value="90">90%</dt>
                          </div>
                        </div>
                        <div class="col-sx-12 col-md-6">
                          <div class="skill-tile row align-items-center percent-100">
                            <dd class="col-12 vcenter">jQuery</dd>
                            <dt  class="col-12 vcenter" d-value="100">100%</dt>
                          </div>
                        </div>
                        <div class="col-sx-12 col-md-6">
                          <div class="skill-tile row align-items-center percent-80">
                            <dd class="col-12 vcenter">React</dd>
                            <dt  class="col-12 vcenter" d-value="80">80%</dt>
                          </div>
                        </div>
                        <div class="col-sx-12 col-md-6">
                          <div class="skill-tile row align-items-center percent-60">
                            <dd class="col-12 vcenter">Vue</dd>
                            <dt  class="col-12 vcenter" d-value="60">60%</dt>
                          </div>
                        </div>
                      </div>
                    </dl>
                    <dl class="row skill-section">
                      <div class="col-sx-12 col-md-4">
                        <h1 class="skill-title">Back-End Technology</h1>
                      </div>
                      <div class="col-sx-12 col-md-8">
                          <div class="col-sx-12 col-md-6">
                            <div class="skill-tile row align-items-center percent-85">
                              <dd class="col-12 vcenter">Node.js</dd>
                              <dt  class="col-12 vcenter" d-value="85">85%</dt>
                            </div>
                          </div>
                          <div class="col-sx-12 col-md-6">
                            <div class="skill-tile row align-items-center percent-80">
                              <dd class="col-12 vcenter">Express</dd>
                              <dt  class="col-12 vcenter" d-value="80">80%</dt>
                            </div>
                          </div>
                          <div class="col-sx-12 col-md-6">
                            <div class="skill-tile row align-items-center percent-90">
                              <dd class="col-12 vcenter">PHP</dd>
                              <dt  class="col-12 vcenter" d-value="90">90%</dt>
                            </div>
                          </div>
                          <div class="col-sx-12 col-md-6">
                            <div class="skill-tile row align-items-center percent-90">
                              <dd class="col-12 vcenter">Wordpress</dd>
                              <dt  class="col-12 vcenter" d-value="90">90%</dt>
                            </div>
                          </div>
                      </div>
                    </dl>
                    <dl class="row skill-section">
                        <div class="col-sx-12 col-md-4">
                          <h1 class="skill-title">Additional Skills/Traits</h1>
                        </div>
                        <div class="col-sx-12 col-md-8">
                            <div class="col-sx-12 col-md-6">
                                <div class="skill-tile row align-items-center percent-70">
                                  <dd class="col-12 vcenter">UX</dd>
                                  <dt  class="col-12 vcenter" d-value="70">70%</dt>
                                </div>
                              </div>
                              <div class="col-sx-12 col-md-6">
                                <div class="skill-tile row align-items-center percent-100">
                                  <dd class="col-12 vcenter">Facial Hair</dd>
                                  <dt  class="col-12 vcenter" d-value="100">100%</dt>
                                </div>
                              </div>
                        </div>
                    </dl>
                </div>
              </div>
            </div>
          </!--> 
          <div class="panel panel-skills" id="skills-scene">
            <div class="row panel-content-holder">
              <div class="col-12 row skills-header no-gutters">
                  <div class="col col-10">
                    <h1><span>Past Projects</span></h1>
                  </div>
                  <div class="col col-2">
                    <div class="fake-close-button"></div>
                  </div>
              </div>
              <div class="panel-content">
                <div class="row work-tiles">
                    <div class="col-md-6 col-12 work-tile">
                      <div class="work-tile-content">
                          <a href="http://capitalnature.org" target="_blank">
                            <img src="images/work/capitalnature.png" class="work-tile-image" alt="Capital Nature" />
                            <h5>Capital Nature</h5>
                          </a>
                          <p class="description">Built Website for Non Profit to Connect DC Area Residents with Park Events</p>
                          <p class="role">Design, User Experience, Front-End Development, Back-End Development (Wordpress)</p>
                      </div>

                    </div>
                    <div class="col-md-6 col-12 work-tile">
                      <div class="work-tile-content">
                        <a href="http://fearless.is" target="_blank">
                          <img src="images/work/fearless.png" class="work-tile-image" alt="Fearless Agency" />
                          <h5>Fearless.Is</h5>
                        </a>
                        <p class="description">Website for Advertising Agency with a Focus on Brands with that Promote Social Good</p>
                        <p class="role">Front-End Development, Back-End Development (Wordpress)</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12 work-tile">
                      <div class="work-tile-content">
                        <span>
                          <img src="images/work/which.png" class="work-tile-image" alt="Which 49er Are You App" />
                          <h5>Which 49er Are You (Stadium App)</h5>
                        </span>
                        <p class="description">Application to Match 49ers Fans with their Favorite Player Based on a Quiz</p>
                        <p class="role">Front-End Development</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12 work-tile">
                      <div class="work-tile-content">
                        <a href="http://tgifridays.com" target="_blank">
                          <img src="images/work/tgifridays.png" class="work-tile-image" alt="TGI Fridays" />
                          <h5>TGI Fridays</h5>
                        </a>
                        <p class="description">Online Ordering System for Everyone's Favorite Casual Dining Chain</p>
                        <p class="role">Front-End Development</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12 work-tile">
                      <div class="work-tile-content">
                        <a href="http://www.gevaliaexperience.com/" target="_blank">
                          <img src="images/work/gevalia.png" class="work-tile-image" alt="Gevalia Coffee Experience" />
                          <h5>Gevalia Coffee Experience</h5>
                        </a>
                        <p class="description">Promotional Website for Nationwide Coffee Brand</p>
                        <p class="role">Front-End Development</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12 work-tile">
                      <div class="work-tile-content">
                        <a href="https://piecestech.com/" target="_blank">
                          <img src="images/work/piecestech.png" class="work-tile-image" alt="Pieces Tech" />
                          <h5>Pieces Tech</h5>
                        </a>
                        <p class="description">Redesign of Medical Information Company's Website</p>
                        <p class="role">Front-End Development, Back-End Development (Wordpress)</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12 work-tile">
                      <div class="work-tile-content">
                        <a href="https://www.epicmix.com/" target="_blank">
                          <img src="images/work/epicmix.png" class="work-tile-image" alt="Epic Mix" />
                          <h5>Vail Epic Mix</h5>
                        </a>
                        <p class="description">Social Network for Ski Resort</p>
                        <p class="role">Front-End Development</p>
                      </div>
                    </div>
                    
                    <!-- <div class="col-md-6 col-12 work-tile">
                      <img src="images/work/epicmix.png" class="work-tile-image" alt="Epic Mix" />
                      <h5>JCP</h5>
                    </div> -->
                    <!-- <div class="col-md-6 col-12 work-tile">
                      <img src="images/work/epicmix.png" class="work-tile-image" alt="Epic Mix" />
                      <h5>Cheermagedon</h5>
                    </div> -->
                    <!-- <div class="col-md-6 col-12 work-tile">
                      <img src="images/work/epicmix.png" class="work-tile-image" alt="Epic Mix" />
                      <h5>Aspen Dental</h5>
                    </div> -->
                    <!-- <div class="col-md-6 col-12 work-tile">
                      <img src="images/work/epicmix.png" class="work-tile-image" alt="Epic Mix" />
                      <h5>American Express Open Forum</h5>
                    </div> -->
                    <!-- <div class="col-md-6 col-12 work-tile">
                      <img src="images/work/epicmix.png" class="work-tile-image" alt="Epic Mix" />
                      <h5>TGI Friday Breadsticks Around the World</h5>
                    </div> -->
                  </div>
                </div>
              </div>
          </div>
    

        </div>
    </div>
  </body>
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/anime/anime.min.js"></script>
  <script src="/javascripts/main.js"></script>  
</html>

