
              <!-- <p>I do other things too. Such as: come up with creative ideas, draw up UX wires, and brew beer amongst other things. The words 'I have a passion for building beautiful, performant and user friendly applications.' are probably good words to have here for SEO purposes so let's go with that.</p> -->

              <!-- - Applebees
             + In 2010 I worked with a team to rebuild Applebees.com. It was an intense timeline 

            - Dominoes
              + Worked on several promo pages including one which featured the Noid which just makes me all sorts of happy. Gained experience building applications within Facebook which isn't so much a thing anyone does anymore so I'm not sure why I'm mentioning it. 

            - American Express
              + worked with a team on Open Forum, a product for Small Businesses by American Express. This project tought me a lot about good project managment as I worked under some great managers. Seriously those guys kicked ass.

            - TGI Fridays
              + I worked on the TGIFridays.com that you see today! (at least as of December 2018, no promises moving forward) I also worked on a 3D based canvas promotion that wrapped bread sticks around the globe to promote their endless apatizer special. I'm not joking. That actually happened.

            - Pieces Tech
              + For about a year I worked at Burns Marketing where I made primarily wordpress sites such as Pieces Tech. The experience gave me a lot of

            - Fearless.is
              + While freelancing I built out a website for Fearless.is, an advertising agency in Boulder whos concept is working with brands that provide a social good. 

            - Gevalia
              + I build a promotionnal website for Gevalia coffee. Lots of scrolling effects on this one. Unfortunately it has since changed. But let me tell you, it was a sight to be seen. -->
        




                    <!-- BEGIN: What I Do : Design -->
      <!-- <div class="panel-marker panel-marker__what-i-do-design" id="PanelMarkerWhatIDoDesign"></div>
      <div class="panel panel__what-i-do-design" id="PanelMarkerWhatIDoDesignContent">
        <div class="panel-content">
          
          <p>What? A loader? This guy sucks right? Wrong. I'm great.</p>
          <p>But unfortunately, I don't have a ton of design/UX work to show off. It's what I'd like to be doing.</p>
          <p>The only design and ux work I have to show is this site. Which rules. Obviously.</p>
          <p>But I do have this meme that went viral back way back when:</p>
        </div>
      </div> -->
      <!-- END: What I Do : Design -->


      
                <!-- <div class="panel panel__how-to-contact" id="contact-scene">
            <div class="panel-content">
              <h4>I sound fun right?</h4>
              <p>...Or at least tolerable enough to talk to for like 5 minutes about work?</p>
              <p>If you read either of those sentences and thought anything other than 'nah', how about we get together and grab a beer! ...or coffee! That's cool to. Respect to the teetotallers out there. Either way...</p>
              <a class="btn" href="mailto:ratherironic@gmail.com">Let's chat!</a>
            </div>
          </div> -->