.header-holder {
    z-index: 90;
    .header {
        border-radius: 0rem 0 0.5rem 0.5rem;
        padding: 1rem;
        top: 0;
        z-index: 25;
        background: #fff;
        h1 {
          color: #0C4E77;
          font-size: 1.9rem;
          font-weight: 900;
          text-transform: uppercase;
        }
    }
}
  
.secondPanel {
    .header-holder {
        border-radius: 0;
        margin-bottom: 0;
        header {
            h1,
            p {
                display: inline-block;
            }
            h1 {
                font-size: 1rem;
                margin-right: 1rem;
            }
        }
    }
}